body {
  background-image: url(../images/bank.jpg);
  background-size: cover;
  background-position: center;
  font-family: Lato;
  font-weight: 300;
  position: relative;
  height: 100px;
  color: #006699;
}
* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 33.3%;
  padding: 50px;
  text-align: center;
  color: #006699;

}
.row:after {
  content: "";
  display: table;
  clear: both;
}
